body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #000000;
  color: #fd68f6;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh; /* Asegura que el body ocupe toda la pantalla */
}

.container {
  width: 90%; /* Se adapta a diferentes tamaños de pantalla */
  max-width: 1366px; /* Límite basado en la resolución promedio */
  background: black;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.image-container img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  /* Opcional: Bordes redondeados */
}