

// HOME 

.hero-home{
    background-color: #fff;
    height: 80vh;
}

// Seccion Tipo de Productos 
.s-productos{
    background-color: var(--Pink__100);
    height: 380px;
}

// Seccion Newsletter 
.s-productos{
    background-color: var(--Purple__50);
    height: 80vh;
}

// Seccion Newsletter 
.s-shop{
    background-color: var(--Yellow__50);
    height: 80vh;
}

// Seccion Blog 
.s-blog{
    background-color: #fff;
    height: 80vh;
}


// Seccion Contact 
.s-contact{
    background-color:  var(--Blue__50);
    height: 80vh;
}

// FOOTER
.s-footer{
    background-color:  var(--Purple__600);
    height: 50vh;
}