// TYPOGRAFIA

.playwrite-hu{
    font-family: "Playwrite HU", cursive;
    font-optical-sizing: auto;
    // font-weight: ;
    font-style: normal;
}

.quicksand {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    // font-weight: 200;
    font-style: normal;
}

.h1{ font-size:3.813rem; font-family: "Playwrite HU", cursive; font-weight: 700!important;}
.h2{ font-size:3.063rem; font-family: "Playwrite HU", cursive; font-weight: 700 !important;}
.h3{ font-size:2.438rem; font-family: "Playwrite HU", cursive; font-weight: 700 !important;}
.h4{ font-size:1.938rem; font-family: "Playwrite HU", cursive; font-weight: 700 !important;}
.h5{ font-size:1.563rem; font-family: "Playwrite HU", cursive; font-weight: 700 !important;}
.bodyXLarge{ font-size:1.563rem; font-family: "Quicksand", sans-serif; font-weight: 900 !important;}
.bodyLarge{ font-size:1.250rem; font-family: "Quicksand", sans-serif; font-weight: 500 !important;}
.body{ font-size:1rem; font-family: "Quicksand", sans-serif; font-weight: 400 !important;}
.bodySmall{ font-size:1rem; font-family: "Quicksand", sans-serif;font-weight: 500 !important;}
.caption{ font-size:0.812rem; font-family: "Quicksand", sans-serif;font-weight: 500 !important;}
